@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
h1 {
    color: #EB2226;
    font-size: 1.5rem;
}
h2 {
    color: white;
    font-size: 1.2rem;
}
/* Hero Section */
#hero {
    display: flex;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100vw;
    height: 15vh;
}
#hero img {
    object-fit: cover;
    height: 15vh;
    width: 100vw;
}
#hero .heroText {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 20px;
    padding: 10px;
    top: 10px;
    z-index: 1000;
    color: white;
}
#hero .heroText h1{
    color: white;
}
#hero .heroText p{
    display: none;
}
/* End of Hero Section */

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 15vh;
	width: 100vw;
	height: 10vw;
    min-height: 8vh;
}
#header .header {
	
	background-color: transparent;
}
#header .nav-bar {
    margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .brand {
    margin-left: 20px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #01295C;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: #075AAA;
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover {
    color: white;
}
#header .nav-list ul li:hover a {
	color: #01295C;
    background-color: white;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Main Section */
#main {
    padding-top: 21vh;
    display: flex;
    width: 100vw;
}
#main .content{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    padding: 50px;
}
#main .contentProvider {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
}
#main .contentProvider h1 {
    margin-top: 15px;
    align-self: center;
}
#main .contentProvider p {
    margin-top: 15px;
}
#main .contentProvider img {
    width: 100%;
}
#main .contentText {
    margin: 50px;
}
#main .formLetiste {
    margin: 15px 0;
    width: 314px;
    border: 2px solid #A7A9AC;
    border-top: 7px solid #EB2226;
    padding: 30px;
}
#main .zobrazMapu {
    color: #EB2226;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}
#main .zobrazMapu:hover {
    text-decoration: underline;
}
#main .kolaz {  display: grid;
    margin: auto;
    width: 100%;


    aspect-ratio: 688/1776;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
}  
#main .kolazA {
    grid-area: a;
    background-image: url('./assets/boeing.jpg');
    background-size: cover;
}
#main .kolazB {
    grid-area: b;
    background-image: url('./assets/airbus.jpg');
    background-size: cover;
}  
#main .kolazC {
    grid-area: c;
    background-image: url('./assets/embraer.jpg');
    background-size: cover;
}  
#main .kolazD {
    grid-area: d;
    background-image: url('./assets/tupolev.jpg');
    background-size: cover;
}  
#main .sideMenu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 15vw;
    min-width: 150px;
    background-color: #01295C;
}
#main .sideMenu img{
    width: 100%;
    min-width: 150px;
    height: auto;  
}
/* End Main Section */

/* Footer Section */
#footer {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(60deg, #075AAA 0%, #01295C 100%);
    width: 100vw;
    min-height: 15vh;
}
#footer p{
    color: white;
}
#footer b {
    color: #B9CFED;
}
/* End Footer Section */

/* ========================================================================= */
/* MEDIA QUERY TABLET */
/* ========================================================================= */
@media only screen and (min-width: 600px) {   
    #footer {
        flex-direction: row;
    }
    #footer .videPlayer {
        margin-top: 40px;
    }
    #main .sideMenu {
        display: flex;
    }
    #main .content {
        width: 85vw;
    }
    #hero .heroText p{
        display: block;
    }
    #main .kolaz {  display: grid;
        margin: auto;
        width: 100%;
        max-height: 444px;
        max-width: 688px;
        aspect-ratio: 688/444;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "a b "
          "c d ";
    }  
    #main .kolazA {
        grid-area: a;
        background-image: url('./assets/boeing.jpg');
        background-size: cover;
    }
    #main .kolazB {
        grid-area: b;
        background-image: url('./assets/airbus.jpg');
        background-size: cover;
    }  
    #main .kolazC {
        grid-area: c;
        background-image: url('./assets/embraer.jpg');
        background-size: cover;
    }  
    #main .kolazD {
        grid-area: d;
        background-image: url('./assets/tupolev.jpg');
        background-size: cover;
    } 
}
/* ========================================================================= */
/* MEDIA QUERY DESKTOP */
/* ========================================================================= */
@media only screen and (min-width: 1200px) {
    /* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 16px;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}